.borderless-select .ant-select-selection {
	border: 0;
	box-shadow: none;
}

.ant-layout .ant-layout-header {
	line-height: 1;
	padding: 15px;
	height: auto;
}

body .ant-layout,
body .ant-layout-sider,
body .ant-menu-dark,
body .ant-menu-dark .ant-menu-sub,
body .ant-layout-header,
body .ant-layout-footer,
body .ant-menu-dark .ant-menu-inline.ant-menu-sub {
	background: none;
}

body .ant-select-focused .ant-select-selection,
body .ant-select-selection:focus,
body .ant-select-selection:active {
	border-color: transparent;
	box-shadow: none;
}

body .ant-spin-dot-item {
	background-color: #bbffea;
}

body .ant-spin {
	color: #bbffea;
}

body .ant-input,
body .ant-input-number {
	background-color: rgba(39, 57, 16, 0.6);
}

body .ant-input:-webkit-autofill,
body .ant-input-number:-webkit-autofill {
	color: #f9f9f9;
	-webkit-box-shadow: 0 0 0px 1000px rgba(33, 72, 16, 0.7) inset;
	-webkit-text-fill-color: #f9f9f9 !important;
	border-color: rgba(33, 72, 16, 0.7);
}

body .ant-form-explain,
body .ant-form-extra {
	font-weight: 500;
}

body .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on,
body .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
	color: #32e756;
}

body .ant-input:focus {
	border-color: #32e756;
}

body .ant-pagination-item-active {
	border-color: #479b22;
}

body .ant-pagination-item-active a {
	color: #479b22;
}

body .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	border-color: transparent;
}

body .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	color: #f9f9f9;
}

body .ant-radio-button-wrapper:hover {
	color: #f9f9f9;
	background-color: #5ccb2c;
}

body .ant-radio-button-wrapper:active {
	color: #f9f9f9;
	background-color: #387b1b;
}

body .ant-select-selection {
	background-color: rgba(39, 57, 16, 0.6);
}

body .ant-select-arrow {
	color: #f9f9f9;
}

body .ant-table-placeholder {
	background-color: transparent;
}

body .ant-empty-normal {
	color: #f9f9f9;
}

body .ant-input-number {
	width: 100%;
}

body .ant-input-group,
body form :not(.ant-input-group-wrapper) > .ant-input-group {
	display: flex;
	height: 100%;
	align-items: center;
}

body .ant-input-group .ant-input-group-addon {
	display: flex;
	align-items: center;
	height: 100%;
	text-align: left;
	width: auto;
	padding: 0 8px;
}

body .ant-input-group.ant-input-group-compact > *:not(:last-child) {
	margin-right: 0;
	border-right-width: 0;
}

body .ant-menu-submenu-open .ant-menu-submenu-title {
	background-color: rgba(0, 0, 0, 0.15);
}

body .ant-menu-dark .ant-menu-inline.ant-menu-sub {
	-webkit-box-shadow: none;
	box-shadow: none;
}

body .ant-btn:hover, body .ant-btn:focus {
	color: #f9f9f9;
	border: 1px solid transparent;
}

body .ant-btn:hover:not(.ant-btn-primary):not(.ant-btn-danger),
body .ant-btn:focus:not(.ant-btn-primary):not(.ant-btn-danger),
body .ant-btn:active:not(.ant-btn-primary):not(.ant-btn-danger),
body .ant-btn.active:not(.ant-btn-primary):not(.ant-btn-danger) {
	background: #7a9152;
}

body .ant-btn-primary:active, body .ant-btn-primary.active {
	background-color: #1b7d2f;
	border-color: #1b7d2f;
}

body .ant-btn-primary:hover, body .ant-btn-primary:focus {
	background-color: #2dcd4d;
	border-color: #2dcd4d;
}

body .ant-btn-danger:active, body .ant-btn-danger.active {
	background-color: #a73f24;
	border-color: #a73f24;
}

body .ant-btn-danger:hover, body .ant-btn-danger:focus {
	background-color: #ff6038;
	border-color: #ff6038;
}

body .ant-btn-group > .ant-btn:not(:last-child) {
	/*border-right: 1px solid rgba(255, 255, 255, 0.3);*/
	margin-right: 2px;
}

body .ant-btn-group .ant-btn + .ant-btn,
body .ant-btn + .ant-btn-group,
body .ant-btn-group span + .ant-btn,
body .ant-btn-group .ant-btn + span,
body .ant-btn-group > span + span,
body .ant-btn-group + .ant-btn,
body .ant-btn-group + .ant-btn-group {
	margin-left: 0px;
}

body .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
	background-color: rgba(116, 254, 56, 0.5);
}

body .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
	background-color: rgba(82, 181, 40, 0.5);
}

body .ant-select-dropdown-menu-item {
	font-weight: 500;
}

body .ant-calendar-input {
	background: none;
}

body .ant-calendar-selected-day .ant-calendar-date {
	color: #52b528;
}

body .ant-calendar-selected-day .ant-calendar-date {
	background-color: #f9f9f9;
}

body .ant-calendar-date:hover,
body .ant-calendar-header a:hover {
	color: #52b528;
}

body .ant-statistic-content {
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

body .ant-card-head-title {
	overflow: auto;
	white-space: normal;
}

body .ant-modal-header {
	padding: 16px 48px 16px 24px;
}

body .ant-calendar,
body .ant-calendar-month-panel,
body .ant-calendar-year-panel,
body .ant-calendar-decade-panel,
body .ant-message-notice-content,
body .ant-popover-inner,
body .ant-modal-content {
	background-color: rgba(39, 57, 16, 0.95);
}

body .ant-modal-header {
	background: none;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
	body .ant-card {
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
	}

	body .ant-select-dropdown,
	body .ant-calendar,
	body .ant-calendar-month-panel,
	body .ant-calendar-year-panel,
	body .ant-calendar-decade-panel,
	body .ant-message-notice-content,
	body .ant-popover-inner {
		-webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
	}

	body .ant-select-dropdown,
	body .ant-calendar {
		background-color: rgba(39, 57, 16, 0.3);
	}

	body .ant-calendar-month-panel,
	body .ant-calendar-year-panel,
	body .ant-calendar-decade-panel {
		background-color: rgba(39, 57, 16, 0.85);
	}
}
