body {
	/*teal*/
	/*background: radial-gradient(ellipse at center, rgba(15, 69, 60, 0.8) 0%, rgba(10, 47, 42, 0.85) 100%) fixed, url("/images/digid-works-logo-small-bw.svg") center center no-repeat fixed;*/

	/*lime*/
	background: radial-gradient(ellipse at center, rgba(50, 69, 16, 0.8) 0%, rgba(57, 68, 15, 0.85) 100%) fixed, url("/images/digid-works-logo-small-bw.svg") center center no-repeat fixed;
}

#root {
	height: 100vh;
	min-height: 100%;
	font-weight: 500;
}

.v-h-centered-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.label {
	font-weight: 700;
	margin-bottom: .5em;
	display: inline-block;
}

.logout svg {
	/*color: #ca4c2c;*/
	/*filter: drop-shadow(0px 0px 4px #ca4c2c);*/
}

.logout:hover svg {
	color: #ca4c2c;
	filter: drop-shadow(0px 0px 4px #ff8d70);
}

.application-container {
	width: 100%;
	min-height: 100%;
	display: flex;
}

.application-container .sidebar {
	width: 220px;
	transition: transform 200ms ease-out;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: auto;
}


.application-container.sidebar-hidden .sidebar {
	transform: translateX(-100%);
}

.application-layout {
	display: flex;
	flex-direction: column;
	padding-left: 220px;
	transition: padding-left 200ms ease-out;
	width: 100%;
}

.application-container.sidebar-hidden .application-layout {
	padding-left: 0;
}

.application-content {
	margin-bottom: auto;
	padding: 5px 12.5px;
}

.application-header {
	padding: 5px 20px;
}

.slogan-regular-text {
	color: #f9f9f9;
	font-size: 1.2rem;
	padding-right: 5px;
}
